dist
.idea
node_modules
package-lock.json
.cache
.DS_Store
.env
temp
**/logs/*
build
.tsbuildinfo
**/results/
file
xlsx
**/logs/

src/_inputs/csv/**/*[!.example].csv
src/_inputs/json/**/*[!.example].json

src/_inputs/settings/global.js
src/_inputs/settings/global.ts

src/_outputs/csv/**/*[!.example].csv
src/_outputs/json/**/*[!.example].json
src/_outputs/csv/checkers/*-claim.csv

src/_outputs/db/*.db
